body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    background-color: hsl(0, 100%, 50%);
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

section.container {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="number"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    background-color: hsl(0, 100%, 50%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: hsla(4, 100%, 50%, 0.555);
}

.error {
    border-color: #ff3c0073;
}

#declaracao_subopcoes,
#realizacao_exame_subopcoes {
    display: none;
    margin-bottom: 10px;
}
